* {
  box-sizing: border-box;
}

body {
  background: lightgrey;
}

header {
  background-color: #033048;
  padding-top: 1px;
  height: 90px;
}

.header {
  color: #fff;
  font-size: 30px;
  padding-left: 40px;
}

#content {
  float: left;
  width: 75%;
  padding-left: 40px;
  padding-right: 10px;
}

#content h3 {
  font-size: 40px;
  color: #033048;
}

#content p {
  font-size: 24px;
}
#sidebar {
  float: left;
  width: 25%;
  color: #033048;
  padding-right: 40px;
}

h4 {
  font-size: 32px;
}

.categories {
  font-size: 24px;
}

.about {
  font-size: 22px;
}

#button {
  background-color: #f9e42e;
  clear: both;
  text-align: center;
  height: 90px;
  padding-top: 35px;
}

a {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #033048;
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: -21px;
  background-color: #121212;
}

.footer {
  text-align: center;
  color: #f9e42e;
  padding-top: 40px;
}

.copyright {
  text-align: center;
  color: #fff;
}
