* {
	box-sizing: border-box;
}

body {
	width: 1000px;
	margin: auto;
	background-color: #f6f6f6;
	text-align: none;
}

header {
	text-align: center;
}

h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
}

.logo {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
	text-decoration: none;
	color: black;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
	padding-top: 40px;
	padding-bottom: 15px;
	letter-spacing: 10px;
	text-align: none;
}

h3 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: none;
}

.nav {
	text-decoration: none;
	color: black;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 5px;
}

a:hover {
	color: orange;
}

.rotation {
	padding-top: 40px;
}

.headshot {
	float: left;
	clear: all;
}

.about_caroline {
	float: left;
	width: 400px;
	padding-left: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 150%;
}

.learn_more {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding-left: 120px;
	letter-spacing: 3px;
	clear: none;
	padding-top: 0px;
}

.more_about {
	clear: both;
}

#education {
	float: left;
	width: 500px;
}

#experience {
	float: left;
	width: 500px;
}

.title {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
}

.items {
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: circle;
	padding: none;
}

.contact {
	font-family: 'Source Sans Pro', sans-serif;
}

iframe {
	text-align: center;
	width: 1000px;
	height: 1000px;
}

.hide {
	display: none;
}

/* mobile */
@media screen and (max-width: 1000px) {
	body {
		width: 100%;
		margin: auto;
		background-color: #f6f6f6;
		text-align: center;
	}

	.headshot {
		float: none;
		clear: all;
	}

	.about_caroline {
		float: none;
		width: 100%;
		padding-left: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		line-height: 150%;
	}

	#education {
		float: left;
		width: 100%;
	}

	#experience {
		float: left;
		width: 100%;
	}

	.learn_more {
		text-decoration: none;
		color: black;
		font-weight: bold;
		padding-left: 0px;
		letter-spacing: 3px;
		clear: all;
		padding-top: 10px;
	}

	li {
		font-family: 'Source Sans Pro', sans-serif;
		list-style-type: none;
		padding: 0;
	}

	iframe {
		text-align: center;
		width: 400px;
		height: 1000px;
	}
}